/* ================= BASE ================= */
.custom-navbar {
  font-family: "Montserrat", sans-serif;
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
}

.custom-navbar.scrolled {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* ================= CONTAINER ================= */
.custom-navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

/* ================= LOGO ================= */
.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 70px;
  width: auto;
  transition: filter 0.3s ease;
}


/* Desktop logo */
@media (min-width: 992px) {
  .custom-navbar {
    height: 100px;
  }

  .brand-logo {
    height: 150px;
  }
}

/* ================= LINKS ================= */
.navbar-brand,
.nav-link {

  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
}
.navbar-brand,
.nav-item {
  margin-right: 20px;
}

.custom-navbar.scrolled .nav-link {
  color: #000;
}

/* Hover underline only */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background: navy;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.custom-navbar .nav-link {
  color: #fff;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #fff !important;
}

/* After scroll */
.custom-navbar.scrolled .nav-link {
  color: #000;
}

.custom-navbar.scrolled .nav-link:hover,
.custom-navbar.scrolled .nav-link:focus {
  color: #000 !important;
}

.custom-navbar.scrolled .nav-link:hover {
  color: #000 !important;
}

/* ================= TOGGLER ================= */
.navbar-toggler {
  border: none;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}

.custom-navbar.scrolled .navbar-toggler-icon {
  filter: invert(0);
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ================= DROPDOWN (DESKTOP ONLY) ================= */
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.dropdown-menu {
  border-radius: 0px;
  border: none;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}
.dropdown-menu .dropdown-item {
  font-weight: 500;
  color: #112369;
}

/* ================= OFFCANVAS ================= */
.offcanvas {
  font-family: "Montserrat", sans-serif;
}

.offcanvas .nav-link {
  color: #000;
  padding: 0.5rem 0;
}
.offcanvas-title {
  font-weight: 800 !important;
  font-size: 2rem;
  color: var(--primary-color);
}
.offcanvas button.nav-link {
  background: none;
  border: none;
  font-weight: 600;
}
